<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>QuestionsImport</servlet-name>
  	<display-name>QuestionsImport</display-name>
  	<description></description>
  	<servlet-class>com.vgec.controller.QuestionsImport</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StoreAnswers</servlet-name>
  	<display-name>StoreAnswers</display-name>
  	<description></description>
  	<servlet-class>com.vgec.controller.StoreAnswers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Evaluate</servlet-name>
  	<display-name>Evaluate</display-name>
  	<description></description>
  	<servlet-class>com.vgec.controller.Evaluate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>QuestionsImport</servlet-name>
  	<url-pattern>/QuestionsImport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StoreAnswers</servlet-name>
  	<url-pattern>/StoreAnswers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Evaluate</servlet-name>
  	<url-pattern>/Evaluate</url-pattern>
  </servlet-mapping>
</web-app>
